body{
    background-color: #bee683;
    font-family: "DejaVu Sans Mono";
}

header{
    text-align: center;
    font-size: 30px;
    color: #113e5b;
}

h1{
    margin: 0;
}

.rules{
    margin-top: 10px;
    width: 40%;
    align-content: center;
    font-size: 22px;
    color: #113e5b;
}
ul{

    list-style-type: none;
    text-align: center;
    list-style: inside;
}

li{
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}

/*------------------------*/
/*-play, reset and language buttons-*/
/*------------------------*/


.other-buttons {
    height: 100px;
    position: relative;
}

.center-buttons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 51%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.play{
    background-color: #a2dcf7;
    color: #113e5b;
    font-size: 25px;
    padding: 30px;
    border-style: solid;
    border-color: #113e5b;
    border-radius: 10px;
}

/*-----------------*/
/* choices buttons */
/*-----------------*/

.choices-buttons{
    height: 200px;
    border-radius: 10px;
}

.center-buttons-choices {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);

}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.choices{
    background-color: #113e5b;
    border-radius: 10px;
}

/*-----------------------*/
/* winner declaration box*/
/*-----------------------*/

.winner{
     height: 100px;
    line-height: 0px;
     background-color: #a2dcf7;
     text-align: center;
     border-style: solid;
    border-color: #113e5b;
    font-size: 40px;
    border-radius: 10px;
 }

.row.score{
    height: 80px;
    width:30%;
    line-height: 0px;
    background-color: #a2dcf7;
    text-align: center;
    border-style: solid;
    border-color: #113e5b;
    font-size: 40px;
    border-radius: 10px;
}


.row{
    width: 80%;
    margin: 20px auto;

}